html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  height: 100vh;
}

#Head-wrapper {
  background-color: green;
  flex: 1;
}

/* use flex to make div fill rest of height */
#Content {
  background-color: red;
  flex: 7;
}


#App-header{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
}

#Name{
  background-color: aquamarine;
  flex: 4;
}

#Right {
  background-color: blue;
  flex: 1;
}
