body {
  margin: 0;
  padding: 0;
}

#App-header{
  /* create flex box that has two items */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

#Name{
  background-color: aquamarine;
  flex: 4;
}

#Right {
  background-color: blue;
  flex: 1;
}

#Content {
  background-color: red;
}
